<nav th:fragment="fgContacto" class="navbar navbar-expand-md navbar-dark" style="background-color: #778692;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-md-center gx-15 col-md-11" id="menuCon">
                <li class="nav-item col-md-auto">
                    <a href="tel:8008376762" data-uw-rm-brl="exc" aria-label="call 8008376762"
                       data-uw-rm-empty-ctrl=""
                       uw-rm-vague-link-id="tel:8008376762$call 8008376762" data-uw-rm-vglnk="">
                        <img src="../image/bx-phone.png" role="presentation" alt="" data-uw-rm-ima="un">
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" href="documents/servicios" data-uw-rm-brl="false">
                        Servicios
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" href="documents/sucursales" data-uw-rm-brl="false">
                        Sucursales
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" href="http://estrategia.vepormas.com" target="_blank"
                       aria-label="blog bursátil - target website may not be available - opens in new tab"
                       data-uw-rm-brl="true" data-uw-rm-ext-link=""
                       uw-rm-external-link-id="http://estrategia.vepormas.com/$blogbursátil-targetwebsitemaynotbeavailable">
                        Blog Bursátil
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" href="documents/sucursales" data-uw-rm-brl="false">
                        Chat
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" href="documents/llamenme-ahora" style="color:#c3d219;"
                       data-uw-rm-brl="false">Llámenme ahora
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" href="documents/promociones" style="background-color:#3BB0C9">
                        Promociones
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto row col-md-auto">
                <li class="nav-item dropdown">
                    <div class=" img-css"></div>
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">
                        <img src="../image/icons8-user-24.png" alt="user">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end img-css center">
                        <a href="#"><img src="../image/icons8-user-24.png" alt="user">2003AG</a>
                        <a class="dropdown-item" href="#">OSCAR MARTINEZ RUIZ</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Salir</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>