<nav th:fragment="fgmenu" class="navbar-expand-lg navbar-dark navbar-inverse" style="background-color: #333E48; font-family: ds-light,Georgia,serif;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;">
    <div class="container-fluid">
        <div class="row justify-content-around nav-header">
            <a class="navbar-toggler col-auto me-auto" href="#">
                <img src="../image/bx-logo.png" alt="a black and white logo" data-uw-rm-ima="ai"
                     style="max-height:40px;margin-top:-10px;">
            </a>
            <button class="navbar-toggler col-auto" type="button" data-bs-toggle="collapse"
                    style="border-color: rgb(255, 255, 255);transition: all 0s ease 0s;"
                    data-bs-target="#navbarSupportedContent2"
                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
<!--        <div class="collapse navbar-collapse row" id="navbarSupportedContent">-->

<!--            <ul class="navbar-nav justify-content-md-center" id="menuPpa">-->

<!--                <li class="nav-item col-md-auto unlessli">-->
<!--                    <a class="nav-link" href="/fwpf/portal/" data-uw-rm-brl="false">-->
<!--                        <img src="../image/bx-logo.png" alt="a black and white logo" data-uw-rm-ima="ai">-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item col-md-auto">-->
<!--                    <a class="nav-link" href="documents/productos-cuentas" data-uw-rm-brl="false">Quiero una cuenta</a>-->
<!--                </li>-->
<!--                <li class="nav-item  col-md-auto">-->
<!--                    <a class="nav-link" href="documents/productos-inversiones" data-uw-rm-brl="false">Quiero-->
<!--                        invertir</a>-->
<!--                </li>-->
<!--                <li class="nav-item  col-md-auto">-->
<!--                    <a class="nav-link" href="documents/productos-creditos" data-uw-rm-brl="false">Quiero crédito</a>-->
<!--                </li>-->
<!--                <li class="nav-item  col-md-auto">-->
<!--                    <a class="nav-link" href="documents/productos-seguros" data-uw-rm-brl="false">Quiero un seguro</a>-->
<!--                </li>-->
<!--                <li class="nav-item  col-md-auto">-->
<!--                    <a class="nav-link" href="documents/productos-arrendamiento" data-uw-rm-brl="false">Quiero-->
<!--                        arrendar</a>-->
<!--                </li>-->
<!--                <li class="nav-item  col-md-auto" id="li-bkg-02" style="background-color:#c4d600">-->
<!--                    <a class="nav-link" data-target="#mAcces" data-toggle="modal" href="#" data-uw-rm-brl="false">-->
<!--                        Acceso en Línea-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="d-md-none d-md-block">
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav justify-content-md-center text-center txt-002" id="menuPpa2">

                    <li class="nav-item col-md-auto">
                        <a class="nav-link" href="documents/productos-cuentas" data-uw-rm-brl="false">Quiero una
                            cuenta</a>
                    </li>
                    <li class="nav-item  col-md-auto">
                        <a class="nav-link" href="documents/productos-inversiones" data-uw-rm-brl="false">Quiero
                            invertir</a>
                    </li>
                    <li class="nav-item  col-md-auto">
                        <a class="nav-link" href="documents/productos-creditos" data-uw-rm-brl="false">Quiero
                            crédito</a>
                    </li>
                    <li class="nav-item  col-md-auto">
                        <a class="nav-link" href="documents/productos-seguros" data-uw-rm-brl="false">Quiero un
                            seguro</a>
                    </li>
                    <li class="nav-item  col-md-auto">
                        <a class="nav-link" href="documents/productos-arrendamiento" data-uw-rm-brl="false">Quiero
                            arrendar</a>
                    </li>
                    <li class="nav-item  col-md-auto">
                        <a class="nav-link" href="documents/productos-arrendamiento"
                           data-uw-rm-brl="false">Servicios</a>
                    </li>
                    <li class="nav-item  col-md-auto" id="li-bkg-02"
                        style="background-color:#c4d600; color: #1a1e21 !important;">
                        <a class="nav-link" data-target="#mAcces" data-toggle="modal" href="#" data-uw-rm-brl="false">
                            Acceso en Línea
                        </a>
                    </li>
                    <li class="nav-item col-md-auto">
                        <a href="tel:8008376762" data-uw-rm-brl="exc" aria-label="call 8008376762"
                           data-uw-rm-empty-ctrl=""
                           uw-rm-vague-link-id="tel:8008376762$call 8008376762" data-uw-rm-vglnk="">
                            <img src="../image/bx-phone.png" role="presentation" alt="" data-uw-rm-ima="un">
                        </a>
                    </li>
                    <li class="nav-item col-md-auto">
                        <a class="nav-link" href="documents/llamenme-ahora"
                           style="background-color:#c4d600; color: #1a1e21 !important;"
                           data-uw-rm-brl="false">Llámenme ahora
                        </a>
                    </li>
                    <li class="nav-item col-md-auto">
                        <a class="nav-link" href="documents/promociones" style="background-color:#3BB0C9">
                            Promociones
                        </a>
                    </li>
                    <li class="nav-item col-md-auto">
                        <div class=" row justify-content-md-center text-center">
                            <a class="nav-link col" href="documents/sucursales" data-uw-rm-brl="false">
                                Sucursales
                            </a>
                            <a class="nav-link col" href="http://estrategia.vepormas.com" target="_blank"
                               aria-label="blog bursátil - target website may not be available - opens in new tab"
                               data-uw-rm-brl="true" data-uw-rm-ext-link=""
                               uw-rm-external-link-id="http://estrategia.vepormas.com/$blogbursátil-targetwebsitemaynotbeavailable">
                                Blog
                            </a>
                            <a class="nav-link col" href="documents/sucursales" data-uw-rm-brl="false">
                                Chat
                            </a>
                        </div>
                        <div class=" row justify-content-md-center text-center">
                            <a class="nav-link col" href="documents/sucursales" data-uw-rm-brl="false">
                                face
                            </a>
                            <a class="nav-link col" href="http://estrategia.vepormas.com" target="_blank"
                               aria-label="blog bursátil - target website may not be available - opens in new tab"
                               data-uw-rm-brl="true" data-uw-rm-ext-link=""
                               uw-rm-external-link-id="http://estrategia.vepormas.com/$blogbursátil-targetwebsitemaynotbeavailable">
                                twiter
                            </a>
                            <a class="nav-link col" href="documents/sucursales" data-uw-rm-brl="false">
                                yutu
                            </a>
                            <a class="nav-link col" href="documents/sucursales" data-uw-rm-brl="false">
                                in
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>